<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.byrns.desvie_dos_buracos_se_for_capaz" android:versionCode="5" android:versionName="1.2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="28" />
	<application android:label="Desvie dos Buracos Se For Capaz" android:icon="@drawable/Icon"></application>
</manifest>